<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- Nivel por defecto: poco ruido -->
	<root level="WARN">
		<appender-ref ref="CONSOLE" />
	</root>

	<!-- Appender consola -->
	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} -
				%msg%n</pattern>
		</encoder>
	</appender>

	<!-- Tu código a INFO -->
	<logger name="com.angelsoft.sat" level="INFO" />
	<logger name="com.angelsoft.cfdi" level="INFO" />

	<!-- Silenciar un poco dependencias ruidosas -->
	<logger name="org.glassfish.jaxb" level="WARN" />
	<logger name="javax.xml.bind" level="WARN" />

</configuration>
